[submodule ".registry"]
	path = .registry
	url = https://github.com/christophernclark/christophernclark.r-universe.dev
	branch = HEAD
[submodule "hpsrn"]
	path = hpsrn
	url = https://github.com/christophernclark/hpsrn
